@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(213, 225, 239);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}
